/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.moving_rules_container {
  padding: 0.75em 0;
  border-top: 1px solid var(--background-modifier-border);
  display: flex;
  flex-direction: column;
}

.rule {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.5em;
  justify-content: space-evenly;
  gap: 0.5em;
}

.rule_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.rule_title {
  padding: 0.5em;
  width: 100%;
  font-weight: bold;
}

.rule_input {
  width: 100%;
  padding: 0.5em;
  border: 1px solid var(--background-modifier-border);
  border-radius: 0.25em;
}

.rule_button {
  cursor: pointer;
}

.rule_button:hover {
  background-color: var(--color-green);
}

.rule_button:active {
  background-color: var(--background-modifier-active);
}

.rule_button_remove:hover {
  background-color: var(--color-red) !important;
}

.rule_button_duplicate:hover {
  background-color: var(--color-blue) !important;
}

/* Style for timer-setting input field */
.setting-item.timer-setting input[type="text"] {
  width: auto;
  min-width: 8ch;
  /* Minimum for hh:mm:ss */
  max-width: 16ch;
  /* Allows up to ~9999:59:59 */
  /* padding: 2px 6px; */
  font-family: monospace;
  text-align: center;
  /* box-sizing: content-box; */
}

.project {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  border-bottom: 1px solid var(--background-modifier-border);
  padding-bottom: 0.75em;
  padding-top: 0.75em;
}

.project_rule {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.5em;
  margin-left: 3em;
  justify-content: space-evenly;
  gap: 0.5em;
}

summary {
  /* Hides the marker in most browsers */
  list-style: none;
  /* Hides the marker in Safari/WebKit */
  /* This is crucial for cross-browser consistency */
  -webkit-appearance: none;
}

/* Add a custom icon using ::before */
summary::before {
  content: "▶";
  /* Closed state icon */
  margin-right: 10px;
  /* Position the arrow before the content */
  display: inline-block;
  transition: transform 0.2s;
  /* Customize the look/color of the arrow */
  color: #fff;
  min-width: 12px;
  /* Ensure it doesn't shift */
}

/* Rotate the icon when the details is open */
details[open] > summary::before {
  transform: rotate(90deg);
  /* Rotates the '▶' into a '▼' */
}
